@font-face {
    font-family: "Gumela";
    src: url("../../Fonts/Gumela.ttf");
}

.wall {
    background-color: #000000c0;
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    max-width: 1500px;
    height: 100%;
    display: inline-block;
    justify-content: center;
}

.background {
    border-radius: 30px;
    background-color: #04131A;
    display: inline-block;
    margin: 10px;
    max-width: 1000px;
}

.id {
    color: #00FFB3;
    font-family: "Gumela";
    padding: 10px;
    position: absolute;
    background-color: #000000c0;
    border-radius: 30px;
    max-width: 600px;
    height: 35px;
    margin: 10px;
}
  
.image {
    width: 100%;
    height: 500px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
}

.name {
    color: white;
    font-family: "Gumela";
}

.genres {
    color: #00FFB3;
    font-family: "Gumela";
}

.platforms {
    color: #00FFB3;
    font-family: "Gumela";
}

.description {
    color: white;
    font-family: "Gumela";
    font-size: 20px;
    margin: 20px;
}

.release {
    color: #00FFB3;
    font-family: "Gumela";
}

.rating {
    color: #00FFB3;
    font-family: "Gumela";
}