@font-face {
    font-family: "Gumela";
    src: url("../../Fonts/Gumela.ttf");
}

.background {
    border-radius: 30px;
    background-color: #04131A;
    margin: 10px;
    max-width: 500px;
    height: 100%;
    float: right;
}
  
.image {
    width: 500px;
    height: 250px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    margin-bottom: 10px;
}

.background h1 {
    color: white;
    font-family: "Gumela";
}

.background h2 {
    color: #00FFB3;
    font-family: "Gumela";
}

.background h3 {
    color: #00FFB3;
    font-family: "Gumela";
}

.background p {
    color: white;
    font-family: "Gumela";
    font-size: 20px;
    margin: 20px;
}

.background h4 {
    color: #00FFB3;
    font-family: "Gumela";
}

.background h4 {
    color: #00FFB3;
    font-family: "Gumela";
}