@font-face {
  font-family: "Gumela";
  src: url("../../Fonts/Gumela.ttf");
}

.background{
  display: inline-block;
  margin: 10px;
  max-width: 700px;
  max-height: 900px;
  background-color: #000000c0;
  border-radius: 15px;
  z-index: -1;
  position: static;
}
  
.title {
  display: inline-block;
  font-family: "Gumela";
  color: #ffffff;
}
  
.intro {
  display: inline-block;
  max-width: 600px;
  padding: 10px;
  text-align: center;
  border: 10px;
  background-color: #04131A;
  border-radius: 20px;
  font-family: "Gumela";
}
  
.intro h2 {
  color: #ffffff;
  font-size: 20px;
}
.intro h3 {
  color: #00FFB3;
  font-size: 15px;
  margin: 10px;
}

.btn {
  margin: 20px;
  font-family: "Gumela";
  padding: 12px 30px;
  background-color: #04131A;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
  border: 0px;
}
  
.technologies {
  padding: 30px;
}
  
.technology-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.technology-icons img {
  width: 45px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  background-color: #04131A;
  border-radius: 10px;
}