@font-face {
    font-family: "Gumela";
    src: url("../../Fonts/Gumela.ttf");
}

.background {
    margin-top: 10px;
    background-color: #000000c0;
    height: 55px;
    max-width: 600px;
    border-radius: 30px;
    display: inline-block;
}

.order {
    margin: 10px 0px;
    margin-left: 10px;
    width: 95px;
    height: 35px;
    background-color: #04131A;
    color: #00FFB3;
    border: 0px;
    border-radius: 20px;
    font-family: "Gumela";
}

.genres {
    margin: 10px 5px;
    width: 95px;
    height: 35px;
    background-color: #04131A;
    color: #00FFB3;
    border: 0px;
    border-radius: 20px;
    font-family: "Gumela";
}

.origin {
    margin: 10px 0px;
    margin-right: 10px;
    width: 95px;
    height: 35px;
    background-color: #04131A;
    color: #00FFB3;
    border: 0px;
    border-radius: 20px;
    font-family: "Gumela";
}