.background {
    background-color: #000000c0;
    margin: 10px 10px;
    padding: 20px 0px;
    border-radius: 30px;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}